@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background-color:rgba(26, 22, 40);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
}

section::before{
    content: '';
    position: absolute;
    width: 20vw;
    height: 20vw;
    border: 5vw solid #ff1062;
    border-radius: 50%;
    box-shadow: 0 0 0 1vw #222,
                0 0 0 1.3vw #fff;
}

@keyframes floating
{
    0%,100%
    {
        transform: skewY(-7deg) translate(0, -20px);
    }
    50%
    {
        transform: skewY(-7deg) translate(0, 20px);
    }
}

h2{
    position: absolute;
    font-size: 7vw;
    color: #fff;
    text-align: center;
    line-height: 2em;
    z-index:10;
    transform: skewY(-7deg);
    text-shadow: 1px 1px 0 #ccc,
                2px 2px 0 #ccc,
                3px 3px 0 #ccc,
                4px 4px 0 #ccc,
                5px 5px 0 #ccc,
                10px 10px 0 rgba(0, 0, 0, 0.2);
                animation: floating 5s ease-in-out infinite;
}

h2 span{
    font-weight: 700;
    font-size: 3em;
    text-shadow: 1px 1px 0 #ccc,
                2px 2px 0 #ccc,
                3px 3px 0 #ccc,
                4px 4px 0 #ccc,
                5px 5px 0 #ccc,
                6px 6px 0 #ccc,
                7px 7px 0 #ccc,
                8px 8px 0 #ccc,
                9px 9px 0 #ccc,
                10px 10px 0 rgba(0, 0, 0, 0.2);
}

